ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}



li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.field{
background-image: url("logo.png");
background-position: center;
width: 200px;
height: 65px;
}



  .main {
    width: 100%;
    height: 54px;
     
}

.searching {
  width: 200px;
  
  color:green;
}
.searching input{
  height: 55px;
  background-color:green;
  color: white;
} 

  .logo{
    background-image: url(fieldco.png);
    margin-top:  10px;
    margin-left: 10px;
    background-position: center;
    float: left;    text-align: center;

  }
  .profiles{
    color: black;
  }
  .fieldco{
    margin-top: 10px;
  }
.contain{
  background-color:#F0F8FF;
  height: 100vh;
  width: 100%;
}

body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#708090;
  overflow-x: hidden;
  padding-top: 16px;
  
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:whitesmoke;
  display: block;
}

.sidebar a:hover {
  color: green;
}

.active{
  background-color: #708090;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media all and (max-width : 420px) { .removeOpacity { opacity : 1; } }






























































  
  











