.checkbox {position:absolute; right:0px; bottom:3px;} 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 29px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color:white;
}
input:focus + .slider {
  box-shadow: 0 0 1px green;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


.search {
    width: 100%;
  background-color: green;
  opacity: 1.5;
    height: 50px;
}


.mains{
    height: 100vh;
    width: 98vw;
    background-color: gray;
    opacity : 0.2;
    overflow-x: hidden;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 16px;
  
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: green;
  }
  
  .main {
    margin-left: 180px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    overflow-x: hidden;
}






  
  











